
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.modes{
    position:absolute;
    right:1rem;
    top:1rem;
    width:fit-content;

}
.modes svg{
    font-size:2rem;
    cursor:pointer;
}
.home{
    display:flex;
    justify-content:space-between;
    padding-bottom:1.2%;
}
.home nav{
    display:flex;
    justify-content: center;
    margin:3% 0;
}
nav ul{
    list-style:none;
    display:flex;
    gap:5.5rem;
}
ul li a{
    font-size:1.4rem;
    text-decoration:none;
    font-weight:600;
    color:#fff;
    transition:400ms;
}
ul li a:hover,ul li.h{
    background:lime;
    padding:4.6px;
    border-radius:10px;

}
.logo-container{
    display:flex;
    justify-content: center;
}
.logo-container img{
    height:20vh;
    width:12vw;
}
.home h2:nth-child(3){
    text-align:center;
    text-transform: uppercase;
    font-size:1.7rem;
    color:magenta;
}
.home h3 {
    text-align:center;
    color:magenta;
    font-size:1.4rem;
    font-style:italic;
    margin-top:-1rem;
}
h2:nth-child(6){
    font-size:1.5rem;
    padding-left:1.8rem;
}
p{
    font-size:1.25rem;
    padding-left:.5rem;
}
.Image-container{
    height:63vh;
    min-width:50%;
    overflow:hidden;
    border-radius:55% 0 0 0;
    display:flex;
    justify-content:center;
    margin:0;
    padding-top:10px;
}
.Image-container img{
    height:950px;
    width:1000px;
}
.image1{display:none;}

@media(max-width:1024px){
    nav ul{gap:4rem; }
    ul li a{ font-weight:500;}
    .logo-container img{ width:18vw;}
    p{padding-left:.3rem;}
    .Image-container{
        height:66vh;
        width:80vw;
        padding-left:3vw;
    }
    .Image-container img{width:90vw;margin-left:1rem;
    }
}
@media (max-width:800px){
    .modes{
        left:1rem;
    }
    .modes svg{
        font-size:1.5rem;
    }
    nav ul{
        gap:2.5rem;
    }
    ul li a{
        font-size:1.23rem;
    }
    .logo-container img{
        width:26vw;
        height:16vh;
    }
    .home h2:nth-child(3){
        font-size:1.5rem;
    }
    .image1{
        display:block;
        height:45vh;
        display:flex;
        justify-content:center;
        overflow:hidden;
    }
    .image1 img{
        height:700px;
        width:600px;
        margin-top:-2rem;
    }
    .Image-container{
        display:none;
    }
    h2:nth-child(3){
        font-size:1.3rem;
    }
    h3{
        font-size:1.2rem;
    }
    h2:nth-child(6){
        font-size:1.3rem;
    }
    p{
        font-size:1.1rem;
    }
    p:nth-child(8){margin-top:-.5rem;}
}