.servic{
    background:rgba(0, 0, 0, 0.755);
    color:#fff;
}
.servic h2{
    text-align:center;
    margin-top:2%;
    font-size:1.7rem;
}
.service{
    margin:2% 3.5px;
    border-radius:10px;
    padding-bottom:5px;
    box-shadow:2px 2px 5px,-2px -2px 10px;
}
.service h3{
    font-size:1.4rem;
    margin-left:2vw;
}
.image-Container{
    display:flex;
    justify-content:left;
    margin-left:4vw;
}
.Image{
    border:2px solid;
    height:45vh;
    border-radius:12px;
    width:40vw;
}
.image-Container .Image img{
    height:100%;
    width:100%;
    border-radius:inherit;
}
section{
    padding:4px;
}
section h2{
    text-align:center;
}
.overview h3{
    margin-left:3vw;
}
.vision h3,.mission h3,.values h3,.assurance h3,.team h3,.commitment h3{
    margin-left:12vw;
}
.value h4,.why h3{
    margin-left:5vw;
    font-size:1.2rem;
}
.proces{
    font-size:1.2rem;
}
.proces ul,.choose ul{
    font-size:1.2rem;
}
@media(max-width:800px){
    .servic p,.service p{
        font-size:1.1rem;
    }
    .service h3{
        text-align:center;
        margin-top:2%;
    }
    .image-Container{
        justify-content:center;
    }
    .Image{
        height:35vh;
        width:50vw;
    }
    .vision h3,.mission h3,.values h3,.assurance h3,.team h3,.commitment h3{
        text-align:center;
        margin-left:0;
    }
    .overview p,.mission p,.vision p,.assurance p,.team p,.commitment p,.value p{
        font-size:1.1rem;
    }
    .proces{
        font-size:1rem;
    }
.proces ul,.choose ul{
    font-size:1rem;
}
}